@import url("~/platform.css");

Page {
  background-color: white;
  font-size: 16;
}
TextField {
  padding: 10;
  font-size: 16;
}

Button {
  font-size: 10;
}

.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}

ActionBar {
  background-color: black;
  color: white;
}

.primary-button {
  background-color: #CB1D00;
  color: white;
  height: 40;
}